<div class="d-flex justify-content-center align-items-center">
  <div class="card mt-5">
    <div class="fx-box card-body p-4">
      <h6 class="text-white">Forex Calculator</h6>
      <div class="input-group mb-3">
        <select class="custom-select" [(ngModel)]="baseCurr" (change)="calculateFx()">
          <option *ngFor="let option of symbolOptions" [value]="option">{{ option }}</option>
        </select>
        <div class="input-group-append">
          <input type="text" class="form-control" [(ngModel)]="baseInput" (input)="baseInputSubject.next()" />
        </div>
      </div>
      
      <div class="input-group mb-3">
        <select class="custom-select" [(ngModel)]="otherCurr" (change)="calculateFx()">
          <option *ngFor="let option of symbolOptions" [value]="option">{{ option }}</option>
        </select>
        <div class="input-group-append">
          <input type="text" class="form-control" [(ngModel)]="otherInput" (input)="otherInputChange($event.target.value)" />
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <ng-container *ngIf="baseInputTemp && otherInputTemp">
          <small class="text-white">{{ baseInputTemp }} {{ baseCurr }} = {{ otherInputTemp }} {{ otherCurr }}</small>
        </ng-container>
      </div>
    </div>
  </div>
</div>


